*
{
    margin: 0;
    padding: 0;

}

.TITULO{
    display: flex;
    justify-content: center;
}

body {
    background-color: #b37f54;
    margin: 0;
    padding: 0;

}

.cabeçalho {
    height: 50vh;
    width: 100%;
    color: white;
    background-image: url(Mitologia\ grega\ -\ Lendas\ e\ Mitos\ gregos\ Check\ more\ at\ https___demonstre_com_mitologia-grega_.jpeg);
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    background-size: 100%;/*corte da imagem ajustado na tela*/
}

.título {
    margin-top: 0px;
    font-size: 70wpx;
}

.navegação a {
    color: white;
    text-decoration: none;
    padding: 6px 15px;
}

.MITOLOGIA
{
    position: absolute;
    bottom: 35%;
    line-height: 120px;
}
 .grega {
    font-size: 100px;
    color: #271608
 }

 .começo, .primitivo{
    color: white;
    width: 600px;
    background-color: #864425;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    display: flex;
 }

 aside {
    color: white;
    width: 600px;
    background-color:#864425;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
 }