body
{
    margin: 0px;
    padding: 0px;
    background-color: #ffe1b5;
}

.Cabeçalho
{
    background-color: #cfa05a;
    display: flex;
    justify-content: space-around;
}

nav
{
    height: 500px;
    width: 100%;
    background-image: image-set('background.png');
    background-size: 100% 100%;
}

footer
{
    background-color: #cfa05a;
    display: flex;
    justify-content: space-around;
    height: 200px;
}

.footerItems
{
    margin: auto;
}

.Logo
{
    width: 200px;
    height: 25px;
    margin-top: 13px;
}

.buttons
{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 350px;
    font-variant: normal;
    padding: 0%;
    margin: auto 0px ;
}

.conjuntoCaixas
{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: space-around;
}

.caixas
{
    display: flex;
    margin: 7px 10px 20px;
    padding: 10px;
    border-radius: 10%;
    background-color: #ffeaca;
}

.caixas:hover
{
    display: flex;
    transform: scale(1);
    background-color: aliceblue;
    border-radius: 10%;
}

.caixasTitle
{
    margin: 0px 0px 5px;
    width: 300px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
}

.caixasText
{
    width: 300px;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.linkButtom
{
    color: #a77f43;
    text-decoration: none;
}

.buttom
{
    display: flex;
    color: #ffffff;
    padding: 3px;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, sans-serif;
}

.buttom:hover
{
    background-color: #ffe1b57c;
    transform: scale(1);
}

.copyright
{
    width: 160px;
    margin: 15 auto;
    font-size: 16px;
}

.copyrightTeam
{
    width: 160px;
    margin: 15 auto;
    font-size: 12px;
}

