body
{
    background-image: url(mitologia-grega-livros.jpg);
}

header img
{
    width: 70px;
    height: auto;
    

}

.Cabeçalho
{
    background-color: rgb(223, 197, 157);
    display: flex;
    justify-content: space-around;
}

.Logo
{
    width: 200px;
    height: 25px;
    margin-top: 13px;
}

.buttons
{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 300px;
    font-variant: normal;
}
h1
{
    margin-left: 300px;
    color: #e9d3c0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p
{
    background-color: #e9d3c0;
    color: #a18167;
    border: solid;
    padding: 10px;
    width: 500px;
    margin-left: 150px;
    display: flex;
}

.text2
{
    display: flex;
}

.imagem
{
    width: 200px;
    border-radius: 150px;
    height: 200px;
    margin-left: 700px;
    text-align: center;
}

.copyright
{
    width: 420px;
    margin: auto;
    font-size: 16px;
}

.copyrightTeam
{
    width: 160px;
    margin: auto;
    font-size: 12px;
}

