body
{
    background: rgb(233,211,192);
    background: linear-gradient(90deg, rgba(233,211,192,1) 0%, rgba(209,183,161,1) 35%, rgba(161,129,103,1) 100%);
}

header img
{
    width: 70px;
    height: auto;
}

.Cabeçalho
{

    display: flex;
    justify-content: space-around;

    color: white;
    padding-left: 10px;
    background-size: 100%;
    
}

.Logo
{
    width: 200px;
    height: 25px;
    margin-top: 13px;
    margin-right: 1000px;
    border: solid #a18167;
    background-color: #e9d3c0;
    padding: 10px;
    border-radius: 10px;
}

.buttons
{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 300px;
    font-variant: normal;
    
}
h1
{
    margin-left: 300px;
    color: #a18167;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.text
{
    background-color: #e9d3c0;
    color: #a18167;
    border: solid;
    padding: 10px;
    width: 500px;
    margin-left: 150px;
    display: flex;
    border-radius: 10px;
    
}



.imagem
{
    width: 200px;
    border-radius: 150px;
    height: 200px;
    margin-left: 700px;
    text-align: center;
    display: flex;
    Border-Radius: 100%
}

.imagem2
{
    width: 50%;
    height: 50%;
    background-size: cover;
    text-align: left;
    display: flex;
}

.copyright
{
    width: 420px;
    margin: auto;
    font-size: 16px;

}

.copyrightTeam
{
    width: 160px;
    margin: auto;
    font-size: 12px;
}

